.video-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 6px;

    font-family: monospace;
}


 .grid-layout-horizontal-e {
    all:unset;
    display: grid;
    grid-auto-flow: column;

    /* FIX: Không cho tự giãn */
    grid-auto-columns: 250px;

    gap: 15px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    margin-bottom: 30px;

    scrollbar-width: none;
}

.section-header{
    padding-bottom:10px;
}

.section-header:hover{
    color:var(--accent-color)
}